.footer {
  display: none;
  @media (max-width: 767px) {
    box-shadow: 5px 5px 22px rgb(97, 83, 83);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150%;
    .footer_button {
      background-color: #4b56c0;
      border: none;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      border-radius: 29px;
      width: 160px;
      height: 40px;
      font-size: 12px;
      margin: 0px 15px;
    }
  }
}
